.body{
    display: flex;
    justify-content:center;
    align-items:center;
}

.inputBox{
    margin: auto;
    text-align: center;  
    color: blue;
}

label{
    font-size: 1.5em;
}

.header{
    text-align: center;    
    font-size: 9em;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pokemon{
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    border: 10px rgb(255, 97, 58) solid;
    margin: auto;
}

.pokemon .nume{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2em;
    color:blue;
}

.pokemon .SpecificatiiPokemon{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1em;
    color: blue;
}

.pokemonPhoto{
    background-color: white;
    text-align: center;
    border-radius: 4px;
    margin: auto;
}